##  Akhilesh Pant (AU FTCA:  MCA)

## Manipulate DataFrame

## ü¶âPractice Problem

## Practice Problem: Analyzing Movie Trends on an Indian Streaming Platform

### An Indian streaming platform like Hotstar or Zee5 wants to analyze user preferences and movie trends to improve content recommendations and acquisition strategies. They have collected data on movie titles, genres, languages, release years, average user ratings, and viewership counts.

df['column_name']: Filters movies in the 'Action' genre.
df.loc[]: Retrieves details of the 5th movie in the dataset.
df.isna().sum(): Checks for missing values in each column.
df.duplicated(): Identifies any duplicate movie entries.
df.nunique(): Counts the number of unique languages in the dataset.
df.unique(): Lists all the unique genres present.
df.value_counts(): Shows the number of movies in each language.
df.sort_values(): Sorts the movies by viewership in descending order.
df.query(): Filters movies with an average rating greater than 4.5.

In [8]:
import pandas as pd

# Sample movie data (as a list of dictionaries)
data = [
    {'Movie Title': 'RRR', 'Genre': 'Action', 'Language': 'Telugu', 'Release Year': 2022, 'Average Rating': 4.8, 'Viewership (in millions)': 12.5},
    {'Movie Title': 'K.G.F: Chapter 2', 'Genre': 'Action', 'Language': 'Kannada', 'Release Year': 2022, 'Average Rating': 4.7, 'Viewership (in millions)': 11.8},
    {'Movie Title': 'K.G.F: Chapter 2', 'Genre': 'Action', 'Language': 'Kannada', 'Release Year': 2022, 'Average Rating': 4.7, 'Viewership (in millions)': 11.8},
    {'Movie Title': 'Pushpa: The Rise', 'Genre': 'Action', 'Language': 'Telugu', 'Release Year': 2021, 'Average Rating': 4.6, 'Viewership (in millions)': 10.2},
    {'Movie Title': 'Gangubai Kathiawadi', 'Genre': 'Drama', 'Language': 'Hindi', 'Release Year': 2022, 'Average Rating': 4.5, 'Viewership (in millions)': 8.5},
    {'Movie Title': 'The Kashmir Files', 'Genre': 'Drama', 'Language': 'Hindi', 'Release Year': 2022, 'Average Rating': 4.4, 'Viewership (in millions)': 7.8},
    {'Movie Title': 'Bhool Bhulaiyaa 2', 'Genre': 'Comedy', 'Language': 'Hindi', 'Release Year': 2022, 'Average Rating': 4.3, 'Viewership (in millions)': 7.2},
    {'Movie Title': 'Vikram', 'Genre': 'Action', 'Language': 'Tamil', 'Release Year': 2022, 'Average Rating': 4.7, 'Viewership (in millions)': 9.6},
    {'Movie Title': 'Darlings', 'Genre': 'Dark Comedy', 'Language': 'Hindi', 'Release Year': 2022, 'Average Rating': 4.2, 'Viewership (in millions)': 6.5},
    {'Movie Title': 'BrahmƒÅstra: Part One ‚Äì Shiva', 'Genre': 'Fantasy', 'Language': 'Hindi', 'Release Year': 2022, 'Average Rating': 4.0, 'Viewership (in millions)': 6.0},
    {'Movie Title': 'Chandigarh Kare Aashiqui', 'Genre': 'Romance', 'Language': 'Hindi', 'Release Year': 2021, 'Average Rating': 4.1, 'Viewership (in millions)': 5.8}
]

# Create the DataFrame
movies_df = pd.DataFrame(data)

In [10]:
# 1. Accessing columns: df['column_name']
movies_df[movies_df['Genre'] == 'Action']

,Movie Title,Genre,Language,Release Year,Average Rating,Viewership (in millions)
0,RRR,Action,Telugu,2022,4.8,12.5
1,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
2,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
3,Pushpa: The Rise,Action,Telugu,2021,4.6,10.2
7,Vikram,Action,Tamil,2022,4.7,9.6

In [12]:
# 2. Accessing rows and columns: df.loc[]
movies_df.loc[4]  # Access the 5th row (index 4)

Movie Title                 Gangubai Kathiawadi
Genre                                     Drama
Language                                  Hindi
Release Year                               2022
Average Rating                              4.5
Viewership (in millions)                    8.5
Name: 4, dtype: object

In [14]:
# 3. Finding missing values: df.isna().sum()
movies_df.isna().sum()

Movie Title                 0
Genre                       0
Language                    0
Release Year                0
Average Rating              0
Viewership (in millions)    0
dtype: int64

In [16]:
# 4. Identifying duplicates: df.duplicated()
movies_df[movies_df.duplicated()]

,Movie Title,Genre,Language,Release Year,Average Rating,Viewership (in millions)
2,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8

In [18]:
# 5. Counting unique values: df.nunique()
movies_df['Language'].nunique()

4

In [20]:
# 6. Unique values: df.unique()
movies_df['Genre'].unique()

array(['Action', 'Drama', 'Comedy', 'Dark Comedy', 'Fantasy', 'Romance'],
      dtype=object)

In [22]:
# 7. Counting values: df.value_counts()
movies_df['Language'].value_counts()

Language
Hindi      6
Telugu     2
Kannada    2
Tamil      1
Name: count, dtype: int64

In [24]:
# 8. Sorting: df.sort_values()
movies_df.sort_values('Viewership (in millions)', ascending=False)

,Movie Title,Genre,Language,Release Year,Average Rating,Viewership (in millions)
0,RRR,Action,Telugu,2022,4.8,12.5
1,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
2,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
3,Pushpa: The Rise,Action,Telugu,2021,4.6,10.2
7,Vikram,Action,Tamil,2022,4.7,9.6
4,Gangubai Kathiawadi,Drama,Hindi,2022,4.5,8.5
5,The Kashmir Files,Drama,Hindi,2022,4.4,7.8
6,Bhool Bhulaiyaa 2,Comedy,Hindi,2022,4.3,7.2
8,Darlings,Dark Comedy,Hindi,2022,4.2,6.5
9,BrahmƒÅstra: Part One ‚Äì Shiva,Fantasy,Hindi,2022,4.0,6.0
10,Chandigarh Kare Aashiqui,Romance,Hindi,2021,4.1,5.8

In [26]:
# 9. Filtering with query(): df.query()
movies_df.query('`Average Rating` > 4.5')

,Movie Title,Genre,Language,Release Year,Average Rating,Viewership (in millions)
0,RRR,Action,Telugu,2022,4.8,12.5
1,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
2,K.G.F: Chapter 2,Action,Kannada,2022,4.7,11.8
3,Pushpa: The Rise,Action,Telugu,2021,4.6,10.2
7,Vikram,Action,Tamil,2022,4.7,9.6

## üêåExercise

## Exercise 1: Analyzing Customer Demographics and Purchase Behavior for an Indian E-commerce Company

### An Indian e-commerce company like Flipkart or Amazon India wants to analyze customer demographics and purchase behavior to improve targeted marketing campaigns and product recommendations.They have collected data on customer IDs, ages, genders, locations (cities), purchase dates, product categories, and purchase amounts.

In [34]:
import pandas as pd

# Sample customer data (as a list of dictionaries)
data = [
    {'CustomerID': 101, 'Age': 28, 'Gender': 'Male', 'City': 'Bangalore', 'Purchase Date': '2023-12-28', 'Product Category': 'Electronics', 'Purchase Amount (INR)': 15000},
    {'CustomerID': 102, 'Age': 35, 'Gender': 'Female', 'City': 'Delhi', 'Purchase Date': '2023-12-27', 'Product Category': 'Clothing', 'Purchase Amount (INR)': 5000},
    {'CustomerID': 103, 'Age': 42, 'Gender': 'Male', 'City': 'Mumbai', 'Purchase Date': '2023-12-26', 'Product Category': 'Books', 'Purchase Amount (INR)': 1200},
    {'CustomerID': 104, 'Age': 25, 'Gender': 'Female', 'City': 'Chennai', 'Purchase Date': '2023-12-28', 'Product Category': 'Beauty', 'Purchase Amount (INR)': 3000},
    {'CustomerID': 105, 'Age': 31, 'Gender': 'Male', 'City': 'Hyderabad', 'Purchase Date': '2023-12-27', 'Product Category': 'Electronics', 'Purchase Amount (INR)': 8000},
    {'CustomerID': 106, 'Age': 29, 'Gender': 'Female', 'City': 'Bangalore', 'Purchase Date': '2023-12-26', 'Product Category': 'Clothing', 'Purchase Amount (INR)': 4500},
    {'CustomerID': 107, 'Age': 38, 'Gender': 'Male', 'City': 'Delhi', 'Purchase Date': '2023-12-25', 'Product Category': 'Grocery', 'Purchase Amount (INR)': 2000},
    {'CustomerID': 108, 'Age': 26, 'Gender': 'Female', 'City': 'Kolkata', 'Purchase Date': '2023-12-28', 'Product Category': 'Beauty', 'Purchase Amount (INR)': 2500},
    {'CustomerID': 109, 'Age': 40, 'Gender': 'Male', 'City': 'Mumbai', 'Purchase Date': '2023-12-27', 'Product Category': 'Books', 'Purchase Amount (INR)': 1800},
    {'CustomerID': 110, 'Age': 33, 'Gender': 'Female', 'City': 'Chennai', 'Purchase Date': '2023-12-26', 'Product Category': 'Grocery', 'Purchase Amount (INR)': 3500}
]

# Create the DataFrame
customer_df = pd.DataFrame(data)

# Display
customer_df

,CustomerID,Age,Gender,City,Purchase Date,Product Category,Purchase Amount (INR)
0,101,28,Male,Bangalore,2023-12-28,Electronics,15000
1,102,35,Female,Delhi,2023-12-27,Clothing,5000
2,103,42,Male,Mumbai,2023-12-26,Books,1200
3,104,25,Female,Chennai,2023-12-28,Beauty,3000
4,105,31,Male,Hyderabad,2023-12-27,Electronics,8000
5,106,29,Female,Bangalore,2023-12-26,Clothing,4500
6,107,38,Male,Delhi,2023-12-25,Grocery,2000
7,108,26,Female,Kolkata,2023-12-28,Beauty,2500
8,109,40,Male,Mumbai,2023-12-27,Books,1800
9,110,33,Female,Chennai,2023-12-26,Grocery,3500

## 1. df['column_name']: Filters customers located in Bangalore.

In [38]:
# Ans

## 2. df.loc[]: Retrieves details of the 8th customer.

## 3. df.isna().sum(): Checks for missing data in each column.

## 4. df.duplicated(): Identifies any duplicate customer entries.

## 5. df.nunique(): Counts the number of unique cities where customers are located.

## 6. df.unique(): Lists all unique product categories purchased.

## 7. df.value_counts(): Shows the distribution of customers by gender.

## 8. df.sort_values(): Sorts the customers based on their purchase amounts in descending order.

## 9. df.query(): Filters customers who made purchases exceeding 10,000 INR.