## Read External File

In [ ]:
# Import pandas libray
import pandas as pd
     

# Read CSV file
csv_file = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')
csv_file

In [ ]:
# Read Excel file
excel_file = pd.read_excel('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.xlsx')
excel_file

In [ ]:
# Read JSON file
json_file = pd.read_json('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.json')
json_file

## Practice Problem

### Practice Problem 1: Read Chance of Admission CSV File

In [ ]:

# Read CSV file
admission = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv')
admission

## Practice problem 2: Read Semicolon CSV

In [ ]:
# Read CSV file
titanic_semicolon = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic%20Semicolon.csv',delimiter=';')
titanic_semicolon

## üêåExercise

### Exercise 1: Read Bank Churn Data
Datset Url: https://github.com/YBIFoundation/Dataset/blob/main/Bank%20Churn%20Modelling.csv

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Bank%20Churn%20Modelling.csv'
data = pd.read_csv(url)

# Display the first few rows of the dataset
print(data.head())

### Exercise 2: Read Population Data

Dataset Url: https://github.com/YBIFoundation/Dataset/blob/main/Population2030-2040.xlsx

In [ ]:
import pandas as pd

# Correct raw URL for the Excel file
url = 'https://raw.githubusercontent.com/YBIFoundation/Dataset/main/Population2030-2040.xlsx'

# Read the Excel file
data = pd.read_excel(url)

# Display the first few rows of the dataset
print(data.head())

## Using The append() Method Dynamically

Create an empty list and add elements one by one using the append() method.

In [1]:
# Dynamicallt Adding Elements

dynamic_list = []
dynamic_list.append("Jai")
dynamic_list.append("Hind")
dynamic_list

['Jai', 'Hind']

## Using Genarators And List()

Generators can be converted into lists using the list() constructor.

In [13]:
# Generator For Numbers From 1 To 5

generator = (x for x in range (1, 6))
list_from_generator = list(generator)
list_from_generator

[1, 2, 3, 4, 5]

## Using A Nested List

A nested list (list within a list) can be directly created or built dynamically

In [16]:
# Static Nested List

nested_list = [["Delhi", "Mumbai"], ["Chennai", "kolkat"]]
nested_list

[['Delhi', 'Mumbai'], ['Chennai', 'kolkat']]

In [18]:
# Dynamic Nested List

outer_list = []
for i in range (3):
    inner_list = list(range(i, i + 3))
    outer_list.append(inner_list)
outer_list

[[0, 1, 2], [1, 2, 3], [2, 3, 4]]